/* april the 1st */
#chromeout #chrome div a:hover, *, html body *, html body *:hover, html body div, html body span, html body p, html body td, html body th, html body ul, html body li, html body strong, html body em {background:rgba(255,255,255,0.2) !important;color:#383838 !important;}
* #dis-module-x div {border-bottom:1px solid #999;}
html body.js {background:#fff url('http://s1.aragorn.cz/g/bg-fawkes.jpg') center top no-repeat fixed !important;}