@charset "utf-8";
html{overflow:auto;border:none;}
body{font:0.8em/1.3 'Georgia','Times New Roman',Georgia,times,serif;letter-spacing:1px;color:#81D84A;text-align:left;margin:0;overflow:auto;background:black url('/graphic/jungle/unsupported.gif') no-repeat center center;}
td,div,p,span{text-align:left;}
a{color:#D8FFC4;font-variant:small-caps;text-decoration:underline;}
a:hover{color:#96E463;text-decoration:underline;}
a img{border:none;}
.content p,.content td p{margin:5px;padding:0;overflow:hidden;line-height:1.3;text-align:left}
table{overflow:hidden;border:1px solid #63BA35;}
table td{vertical-align:top;overflow:hidden;}
.hide{display:none;visibility:hidden;}
.holder{text-align:left;margin:0 auto;position:absolute;top:0;left:0;right:0;bottom:0;overflow:auto;background:#3F6C1B url('/graphic/jungle/forestX.gif') repeat center center;}
.top,.menu,.content,.footer{top:50%;left:50%;position:absolute;}
.top{background-color:darkgreen;text-align:left;margin-top:0;top:0;margin-left:162px;height:30px;width:330px;overflow:hidden;z-index:5000;}
.top h1{margin:0;font-size:30px;line-height:30px;padding:0;}
.top a{display:block;height:30px;width:330px;overflow:hidden;text-decoration:none;text-transform:uppercase;}
.top a:hover{text-decoration:none;}
.top a span{visibility:visible;display:block;height:30px;width:330px;overflow:hidden;cursor:pointer;text-align:center;}
.menu{margin-top:68px;top:0;margin-left:162px;overflow:hidden;width:330px;}
.menu ul{display:inline;margin:0 0 0 0 !important;width:330px;padding:0;line-height:30px;overflow:hidden;white-space:nowrap;}
.menu ul li{margin:0;padding:0;list-style:none;}
#men1,#men2,#men3,#men4,#men5,#men6{overflow:hidden;width:110px;float:left;}
.menu ul li a,#chrome ul li a{padding:0;font-size:16px;font-weight:bold;display:block;text-decoration:none;font-variant:normal;text-align:center;line-height:30px;}
.menu ul li a:hover{text-decoration:none;}
.menu #marked{background-color:darkgreen;}
.content{height:100%;width:650px;margin-top:0;top:0;margin-left:-490px;overflow:hidden;background:url('/graphic/jungle/bg_green_dither50.gif') repeat 0 0;}
h2,h3,h4,h5{padding:0;margin:0;letter-spacing:0;}
h2,h3{display:inline;margin:5px 15px 20px 5px;line-height:2;font-size:18px;}
h2 a,h3 a{}
h5{padding:0;margin:3px 0;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-variant:normal;}
.frame{position:absolute;background:none;font-size:90%;letter-spacing:0;word-spacing:1px;top:0;left:0;right:0;bottom:0;margin-top:0;margin-bottom:73px;overflow:auto;width:650px;}
.frame-in{overflow:hidden;margin:10px 10px 20px 10px;text-align:left;}
.footer{position:absolute;top:100%;margin-top:-72px;margin-left:-490px;height:70px;width:980px;overflow:hidden;font-size:6pt;word-spacing:0;letter-spacing:0;font-family:Tahoma,Arial,lucida,sans-serif;border-top:1px solid darkgreen;}
.footer a{font-size:100%;font-variant:normal;}
.footer2{position:absolute;top:3px;left:3px;width:400px;padding:0 5px 4px 0;border-right:5px solid green;text-align:center;}
.footer2 br{}
.footer2 table{margin:0 !important;padding:0;position:absolute;width:560px;top:0;left:415px;}
.footer2 table td{vertical-align:bottom;padding:0;margin:0;}
#chrome form,#chrome p,#chrome label,#chrome input,#chrome *{padding:0;margin:0;}
#chromeout{position:absolute;padding:0;margin:0;display:block;top:128px;left:50%;margin-left:162px;width:330px;height:0;width:0;font-size:10px;font-weight:bold;letter-spacing:0;}
#chromeout a,#chromeout a:visited{font-variant:normal;}
#chrome{position:absolute;top:0;left:0;right:0;height:0;display:block;width:330px;}
#chrome ul,#chrome ul li{position:absolute;top:0;left:0;list-style-type:none;height:0;width:0;}
#chrome ul li a:hover{text-decoration:none;}
.dropmenudiv{position:absolute;top:0 !important;left:0 !important;border:1px solid #1C760A;font-size:10px;z-index:2000;background-color:#264E0F;width:100px;visibility:hidden}
.dropmenudiv a,.dropmenu a:visited,.dropmenu a:active{display:block;line-height:16px;padding:0 10px;text-decoration:none;font-variant:normal;letter-spacing:0;font-weight:normal;}
.profile{padding:0;margin:0;text-align:right;position:absolute !important;top:0 !important;left:0 !important;line-height:30px;height:0;width:330px;font-weight:bold;color:#96E463;}
.profile a{font-variant:normal;text-decoration:none}
.profile a:hover{text-decoration:underline}
.profile img{position:relative;top:1px;border-width:0}
.profile-form,.profile-span{position:absolute !important;top:-94px !important;left:0 !important;margin:0;padding:0;width:330px;letter-spacing:0;display:block;text-align:center;line-height:30px;font-size:12px;word-spacing:0;height:30px;background-color:green;}
.profile-span{color:#96E463;}
.profile-form{white-space:nowrap;font-size:11px;}
.profile-form input{color:#96E463;width:70px;margin-right:2px;position:relative;top:1px;background-color:darkgreen;border:none;}
#profile-button{height:19px;position:relative;left:5px;color:#50BC2D;border:1px solid darkgreen;}
#dropmenu5head{width:110px;position:absolute;left:0 !important;top:0 !important;}
#dropmenu5{top:30px !important;left:0 !important;width:130px !important;}
#dropmenu2head{width:220px;position:absolute;left:110px !important;top:0 !important;}
#dropmenu2{left:110px !important;top:30px !important;width:220px !important;}
#dropmenu2 a{display:block;width:109px;line-height:1.5;float:left;}
#dropmenu4head{width:220px;position:absolute;left:0 !important;top:30px !important;text-align:left;}
#dropmenu4{left:0px !important;width:280px !important;top:60px !important;}
#dropmenu4 a{display:block;width:139px;line-height:1.5;float:left;}
#dropmenu3head{width:110px;position:absolute;left:180px !important;top:30px !important;}
#dropmenu3{left:180px !important;width:150px !important;top:60px !important;}
.frame fieldset div{font-weight:bold;}
.frame form label{display:block;font-weight:normal;margin:2px 0;vertical-align:middle;line-height:2;}
.frame form input{margin-top:5px;border-color:#155500;background-color:green;color:#61E231;font-weight:bold;font-size:80%;}
.frame form label input,.frame form label select,.frame form label textarea{font-weight:normal;vertical-align:text-top;margin-top:-3px;margin-left:5px;background-color:darkgreen;color:#96E463;font-size:80%;}
.frame textarea{width:80% !important;height:70pt !important;margin-bottom:5px;font-size:10pt !important;line-height:1.1;font-family:'Courier New','Courier CE',courier,monospace;display:block;}
.frame fieldset{border:1px dashed green;}
.submenu{display:block;border-top:3px solid darkgreen;border-bottom:3px solid darkgreen;}
.submenu a{font-size:14px;line-height:1.1;margin-right:14px;vertical-align:middle;text-decoration:none;}
.submenu a:hover{text-decoration:none;}
.star{padding-right:12px}
.admin1{background:url('/graphic/resize/admin.gif') right no-repeat}
.admin2{background:url('/graphic/resize/admin.gif') right no-repeat}
.bonus1{background:url('/graphic/resize/bonus.gif') right no-repeat}
.bonus2{background:url('/graphic/resize/bonus.gif') right no-repeat}
.frame-in div{margin:10px 5px;}
.frame-in p{padding:5px;}
.strankovani{margin:0 auto;line-height:2;padding:0 10px;text-align:center !important;display:block;}
.strankovani a{line-height:2;padding:3px;}
.strankovaniMarked{border-left:1px solid darkgreen;border-right:1px solid darkgreen;background-color:darkgreen;}
.komuseptat label,.komuseptat input{display:inline !important;}
.un,.unr,.c-ub,.c-u{color:#A5ED6F;}
.herna-vypis table,.diskuze-one{background:#050 url('/graphic/jungle/bg_green_dither50.gif') repeat 0 0;width:99%;overflow:hidden;margin:0 auto 5px auto;}
.frame table{margin:5px auto;}
.tb{width:90%;margin:0 auto;}
.tb td{vertical-align:middle;width:33.33%;text-align:center;}
.tb td a{font-size:10pt;}
.tb .offline,.tb .online,.users .online,.users .offline{display:block;float:left;width:60px;height:40px;}
.tb .offline,.users .offline{background:url('/graphic/jungle/off.gif') no-repeat center center;}
.tb .online,.users .online{background:url('/graphic/jungle/on.gif') no-repeat center center;}
.signature{border-top:1px solid darkgreen;font-size:80%;margin-top:5px;clear:both;padding-top:4px;display:block;}
#dhtmltooltip{position:absolute;color:#A7E06C;z-index:10000;font-family:Tahoma,Arial,Helvetica,lucida,sans-serif;font-size:10px;margin-top:10px;padding:3px;border:1px solid darkgreen;background-color:#003300;}
#dis-module-x table{margin:0 auto 5px auto;text-align:left;width:90%;}
#dis-module-x table .c3{width:100%;overflow:hidden;text-align:left;}
.c1 a{text-transform:none;font-variant:normal;}
.c1{line-height:2;padding-left:4px;background-color:darkgreen;position:relative;}
.c1 input{position:absolute;right:5px;}
.c1 .ar{position:absolute;right:30px;background:url('/system/ruzne/arrow.gif') center center no-repeat;width:13px;height:13px;}
.jsStats th,.jsStats td{text-align:center;color:black;font-size:0.9em;border:1px solid black}
.jsStats th,.jsStatsK{font-weight:600;}
#k0{display:none;}
div#pgf2011-banner {top:190px;left: 0;margin-left: 800px;}
