@charset "utf-8";
*{margin:0;padding:0;line-height:130%;}
html,body{margin:0;padding:0;font-family:Verdana, Arial, lucida, sans-serif;text-align:center;border:none;line-height:100%;}
body{background-color:#000000;font-size:1.0em;color:#ccc;}
.content div,p,table{position:relative;}
a,a:visited{color:#B9B9B9;text-decoration:underline;outline:0;}
a:hover{color:#FFFFFF;text-decoration:underline;}
acronym{border-bottom:1px dashed #C2C2C2;cursor:help;font-variant:normal;text-transform:none;}
.helper{cursor:help}
.holder{width:50em;text-align:left;margin:0 auto;background-color:#000;}
h1{font-size:1em;margin-top:2em;line-height:1;background:#000 url('/graphic/resize/sword2.jpg') no-repeat center right;}
h1 a{text-decoration:none;cursor:pointer;text-indent:2em;color:#4f4f4f;font-variant:small-caps;}
h1 a,h1 a:visited{color:#4f4f4f;text-decoration:none;}
h1 a:hover{text-decoration:none;}
h1 span{text-decoration:none;height:1.9em;width:25em;display:block;line-height:1.8em;font-size:2em;cursor:pointer;overflow:hidden;margin-bottom:0.1em;}
.menu{width:7em;position:relative;top:0;left:0;float:left;overflow:hidden;background-color:#000;border-right:1px solid #333;padding-bottom:0.4em;}
.menu ul{margin-top:0 !important;color:white;display:block;text-align:left;}
.menu li{overflow:hidden;list-style:none;display:inline;}
.menu li a,.menu li a:visited{text-decoration:none;display:block;color:#aaaaaa;font-size:0.7em;padding:0.2em 0 0.1em 0.3em;line-height:2em;font-weight:bold;}
.menu li a:hover{color:#FFFFFF;background-color:#333333;text-decoration:none;}
#marked{color:#FFFFFF;background-color:#666666;}
.content{width:35em;margin:0 0.5em;float:left;color:#ccc;padding:0;background-color:#222;line-height:1;}
.frame{border:1px solid #333;}
.frame-in{margin:0;overflow:hidden}
.frame-in p{font-size:0.9em;text-indent:0;}
h2{font-size:1.0em;letter-spacing:0.3em;text-align:center;font-weight:bold;border-bottom:1px solid #333;background-color:#2a2a2a;padding:0;margin:0;line-height:1;}
h2 a,h2 a:visited{color:#555;text-decoration:none;display:block;padding:0.5em 0;margin:0;}
h2 a:hover{color:#999;text-decoration:none;}
h3{text-align:center;letter-spacing:0.1em;font-size:1em;border-bottom:1px solid #333;background-color:#000;padding:0;margin:0;line-height:1;}
h3 a,h3 a:visited{display:block;text-decoration:none;color:#fff;padding:0.5em 0;margin:0;}
h3 a:hover{color:#ccc;text-decoration:none;}
h4{text-align:left;margin:0 0.5em;font-size:1.0em;line-height:1.0em;padding:0;}
.art{margin:0.5em auto;width:95%;font-size:1em;text-align:left;}
.art table{margin:0 auto;}
.art p{padding:0.5em;font-size:0.9em;overflow:hidden;color:#999;line-height:1.4em;background-color:#111;border:1px solid #444;text-indent:0;}
.art p a,.art p a:visited{color:#aaa;}
.art p a:hover{color:#ccc;}
.art-bord{margin:0.5em;padding:0.5em;border:1px solid #7b7b7b;}
.warning{font-weight:bold;color:#aaa;}
.permalink,.permalink2,permalinkb,permalinkb2{color:#A7A7A7;padding:0;}
.permalink:hover,.permalink2:hover{color:#ddd;}
.submenu{margin:0 0 0.8em 0;padding:0.8em 0;font-size:0.8em;border-bottom:thick solid #292929}
.submenu a,.submenu a:visited{margin-left:1.5em;color:#878787;}
.submenu a:hover{color:#CCCCCC;}
.seznam{font-size:1em;}
.seznam li{margin-left:1em;}
.info{width:90%;margin:1em auto;padding:0.5em;font-size:0.7em;line-height:1.4;border:1px solid #555;background-color:#777;color:#000;font-weight:bold;}
.info a,.info a:visited{color:#bbb;font-weight:normal;margin-left:1em;}
.info span{width:1.4em;display:inline;height:1.4em;margin-right:0.5em;background-color:#ddd;float:left;margin-bottom:1px;}
.ok{background-color:#7ED163 !important;}
.war{background-color:#DC6345 !important;}
.inf{background-color:#549AC6 !important;}
.strankovani{margin:0.6em auto 0.7em auto;width:95%;text-align:center;color:#555;background-color:#333;padding:0.3em;display:block;line-height:1;font-size:0.7em !important;}
.strankovani a,.strankovani a:visited{padding:0.2em 0.3em;color:#555;font-weight:bold;background-color:#222;text-decoration:none;}
.strankovani a:hover{background-color:#bebebe;text-decoration:none;}
.strankovaniMarked{background-color:#aaa !important;}
.tb{width:95%;margin:0.2em auto;border:1px solid #333333;overflow:hidden;}
.tb td{width:33.3%;font-size:0.8em;border-bottom:1px solid #333333;color:#666;text-align:center;vertical-align:middle;}
.tb td img{border:none;}
.tb td a{text-decoration:none;}
.online,.offline{float:right;display:block;margin-right:2em;width:2em;height:2em;background-color:#246C19;}
.offline{background-color:#49110E;}
.users .online,.users .offline{float:left;left:0 !important;}
.commtb{width:48em;margin:0 auto 0.08em auto !important;font-size:0.7em;border:none;padding:0;top:0;left:0;overflow:hidden;position:relative;}
.c1{line-height:1.8em;color:#BBBBBB;vertical-align:top;background-color:#666;position:relative;left:0;top:0;overflow:hidden;}
.cspt{vertical-align:middle;line-height:1.8em;padding-bottom:0.5em;color:#ccc;}
.hspk{letter-spacing:-0.2em;}
.c1 span{font-weight:bold;padding-left:5px;}
.c1 a,.c1 a:visited{color:#eee;text-decoration:none;}
.c1 a:hover{color:#fff;text-decoration:none;}
.c1 input{position:absolute;right:5px;margin:2px 0 0 0;}
.c1 .ar{cursor: s-resize;position:absolute;right:25px;margin-top:2px;border:1px solid #333;background:#999 url('/system/ruzne/arrow.gif') center center no-repeat;width:13px;height:13px;}
.c2{width:50px !important;vertical-align:top;text-align:center;padding:0;}
.c2 img{border:none;}
.c3{vertical-align:top;padding:0.7em;line-height:1.5em;text-align:left;overflow:hidden;background-color:#292929;width:90%;}
.c3 p{text-indent:0;}
.signature{color:#666;margin-top:2em;display:block;overflow:hidden;line-height:1.5em;font-size:0.8em;border-top:1px solid #363636;}
.c4{overflow:auto;padding:0;margin:0;color:#bbb;font-size:1.1em !important;text-indent:0;}
.c-u{color:#EA3B00;padding:0.1em;}
.c-ub{color:#EA3B00;padding:0.1em;}
#chrome #dropmenu4 a {overflow:hidden;white-space:nowrap;position:relative;}
#chrome #dropmenu4 a .c-ub{position:absolute;right:0;background-color:#000;top:0;line-height:2.00em;}
#chrome #dropmenu4 a:hover .c-ub{background-color:#333;}
.unr{color:#F7E3A3;}
#unp{color:#F7E3A3;}
.galerie-vypis{margin:0 1em;}
.galerie-vypis td div{width:33%;height:240px;overflow:hidden;float:left;text-align:left;}
.galerie-vypis td{width:33.3%;}
.galerie-vypis p{margin-bottom:0.5em;padding:0;color:#D8D8D8;text-align:left;}
.galerie-vypis img{border-width:0;padding-bottom:0.5em;}
.galerie-vypis a{font-size:80%;line-height:180%;}
.galerie-img img{border-width:0;padding-top:10px;padding-bottom:5px}
.galerie-img ul{list-style-type:none;}
.galerie-img li{color:#DDD1B3;font-size:80%;line-height:180%}
.ge,#ge{display:block;font-size:70%}
.ge2,#ge2{color:#EDCA73;font-size:110%}
.clanky td{padding:0.2em;}
.highlight-mid{margin:0.6em 0.6em;border:1px solid #333;}
.c-nazev{font-size:1em;padding:0.5em;width:72% !important;}
.c-sub{font-size:0.7em;color:#ddd;padding:0.1em 0.3em 0.3em 0.5em;}
.c-sub strong{font-size:1.1em;}
.cl{margin:1em;font-size:0.8em;line-height:1.7em;color:#ddd;border:1px solid #333;background-color:#222;padding:0.5em;}
.ci{margin:1em;padding:0.5em;font-size:0.9em;line-height:1.5em;border:1px solid #333;color:#ddd;}
.rating{display:block;height:17px;width:85px;background:url('/graphic/resize/rating-bg.gif') 0 0 repeat-x;overflow:hidden;}
.rating span{display:block;height:17px;background:url('/graphic/resize/rating.gif') 0 0 repeat-x;overflow:hidden;}
.f-top,.f-middle,.f-bottom{margin:0;}
.f legend{padding-bottom:0.3em;font-size:0.8em;font-weight:bold}
.f,.fd{font-size:0.75em;color:#D1D1D2;margin-top:1em;}
.flink{padding-left:2em;color:#CCCCCC !important;}
.f img{margin:0 5px 0 5px;border:1px solid #666;}
.f label{font-size:1em;clear:both;margin:0 0 10px 0;color:black;font-weight:bold;display:block;line-height:1.5;}
.f input,.f textarea,.f select{background-color:#222222;padding:0;border:1px solid #333333;color:#999;width:12em;font-size:1em;}
.f input:focus,.f textarea:focus,.f label:focus,.f option:focus,.f select:focus{background-color:#000;color:#fff;}
.f textarea{width:28em;font-size:1.0527em;}
.f label span{display:inline;float:left;width:12em;text-align:center;background-color:#666;border:1px solid #333;border-right:none;line-height:140%;font-size:1em;}
.f fieldset{margin:1em;padding:1em;border:1px dashed #666;background-color:#151515;}
.f legend{clear:both;margin:0;padding-bottom:0.5em;}
.f #button,.f .button{margin-left:10.2em;}
.fd,.f{text-align:left;}
.fd label span{float:none;width:42em;display:block;line-height:2em;}
.fd label img{vertical-align:middle;}
.fd fieldset{background-color:#151515;}
.fd input{width:42em;margin-left:0 !important;margin-top:0em;}
.fd textarea{width:38.3em;font-size:1.1em;}
.f input[type^="submit"] ,.fd input[type^="submit"]{background-color:#666;color:#fff;}
.footer{text-align:center;z-index:250;clear:both;color:#B4B4B4;display:block;position:relative;top:50px;width:35em;margin:0 auto;}
.footer a{color:#EDCA73}
.footer2{font-size:0.6em;}
#chromeout{z-index:150;text-align:left;position:absolute;left:50%;top:0;font-size:1em;margin-left:-25em;margin-top:15.8em !important;display:block;}
#chrome{border-top:1px solid #333;top:0 !important;left:0 !important;border-right:1px solid #333;}
#chrome ul{margin:0 !important;margin-top:0 !important;border:none;position:relative !important;left:0 !important;top:0 !important;width:7em !important;padding-top:0.2em;}
#chrome ul li{display:inline;overflow:hidden;padding:0;list-style-type:none;}
#chrome ul li a{font-size:0.7em;overflow:hidden;display:block;color:#999;font-weight:bold;text-decoration:none;padding:0.6em 0 0.6em 0.3em;line-height:1.1em;}
#chrome ul li a:hover{background-color:#333;color:white;text-decoration:none;}
.dropmenudiv{position:static;margin:0 !important;left:0 !important;top:0 !important;overflow:hidden;width:7em !important;display:block;line-height:1;}
#dropmenu5,#dropmenu3,#dropmenu1,#dropmenu2{left:0 !important;top:0 !important;visibility:visible !important;display:block !important;}
#dropmenu5 a{}
#dropmenu4{position:absolute !important;margin-top:-9.5em !important;margin-left:39.5em !important;left:50% !important;top:0 !important;width:7em !important;visibility:visible !important;display:block !important;overflow:visible !important;}
.dropmenudiv a,.dropmenudiv a:visited ,.dropmenudiv a:active{font-size:0.55em;display:block;margin-left:1em;padding:0.4em 0.3em !important;text-decoration:none;color:#777;overflow:hidden;line-height:1.0;}
#dropmenu4 a{font-size:0.55em;margin-left:0;}
.dropmenudiv a:hover{background-color:#333 !important;color:white;text-decoration:none;}
.hide{display:none;visibility:hidden;}
.profile{position:absolute !important;padding:0;margin:0;top:0 !important;left:0 !important;z-index:100;color:#999;text-align:right;line-height:1;}
.profile a,.profile a:visited{color:#F5F5F5;font-weight:normal;}
.profile a:hover{color:#DDD;}
.profile img{position:relative;top:1px;border-width:0;}
.profile-form,.profile-span{position:absolute !important;margin:0 !important;top:-20.5em !important;left:20em !important;width:46.6em;z-index:300;font-size:0.75em;color:#aaa;background-color:#000;padding-bottom:0.2em;border-bottom:1px solid #333333;text-align:right;bottom:auto !important;font-weight:bold;}
.profile-span{display:block;float:right;margin:0;}
.star{padding-right:11px;}
.admin1{background:url('/graphic/resize/admin2.gif') right no-repeat;}
.admin2{background:url('/graphic/resize/admin.gif') right no-repeat;}
.bonus1{background:url('/graphic/resize/bonus2.gif') right no-repeat}
.bonus2{background:url('/graphic/resize/bonus.gif') right no-repeat;}
.profile-form input{width:5em;background-color:#333333;border:none;color:#ccc;margin-right:1em;}
#profile-button{height:1.5em;font-size:1em;color:#ccc;margin:0;}
.lineup{text-decoration:overline;}
.clearer{clear:both;}
.diskuze-vypis{border:1px solid #444;margin:0.5em;background-color:#333;}
.diskuze-vypis td{font-size:0.8em;}
.diskuze-vypis td a{text-decoration:none;}
.diskuze-vypis td a:hover{text-decoration:underline;}
.diskuze-one tr td{border:1px solid #444;background-color:#111;color:#aaa;padding:0.5em;vertical-align:text-top;font-size:0.8em;}
.diskuze-one p{font-size:1em;}
.diskuze-one{width:95%;margin:1em auto;border:1px solid #616161;border-collapse:collapse;}
.diskuze-nastenka{padding:1em 0.5em;margin-top:0.5em;background-color:#333;border:1px solid #444;color:#fff;}
.diskuze-one-prvni{width:4em;}
.diskuze-okruh div{color:#5E5E5E;}
.diskuze-okruh{margin:0.5em;background-color:#333;line-height:1.7;padding:0 0.5em;}
.oblast-popis{padding:0 1em;font-size:0.7em;color:#aaa;}
.diskuze-toggle{color:#666 !important;font-size:0.7em;text-decoration:none !important;font-weight:bold;letter-spacing:-0.2em;}
.infow{width:95%;}
.f .checkbox{width:20px;display:inline;background:none;border:none;}
.f ul{list-style:none;}
.users{padding:0.4em;margin:0.5em 1em;margin-bottom:15px;font-size:80%;color:#ccc;border:1px solid #373737;background-color:#111;}
.users td{padding:0.1em;}
.hdrd,.horp{width:96%;font-size:0.8em;line-height:1.2em;text-decoration:none;border:1px solid #333;padding:0;margin:0.3em auto;overflow:hidden;}
.habout p{padding:0.5em;}
.habout{border-top:1px solid #333;}
.edttbl{width:95%;margin:0 auto;text-align:left;}
.edttbl td{padding:0.2em;font-size:0.8em;vertical-align:top;text-align:left;}
.edttbl h4{text-align:right;font-weight:bold;font-size:1.0em;margin:0;}
.f-middle .edttbl h4{text-align:left;}
.edttbl p{font-size:1.0em;margin:0 0.3em 0.4em 0;padding:0;}
.edttbl textarea{display:block;width:100%;}
.hpositive{color:#009900;}
.hnegative{color:#990000;}
.edttbl input,.edttbl textarea,.edttbl select{border:1px solid #ddd;color:#ccc;background-color:#333;padding:0;margin:0;}
.edttbl .sinp{width:4em;}
.inventar{font-size:70%;margin:10px auto;border:1px solid #616161;background-color:#151515;color:#D8D8D8;padding:0px;width:95%;}
.inventar td{padding:2px;vertical-align:middle;}
.inventar a{color:#F7E7A0;font-weight:bold;text-decoration:none;padding:2px;border:1px solid #fff;background-color:#333;text-align:center;}
.i-wp span,.i-ar span,.i-lk span,.i-st span,.i-it span,.i-sv span{cursor:help;border-bottom:1px dashed;margin-bottom:2px;}
.hinfo{padding:5px;font-size:0.9em;}
.hinfo em,.hvcera,.hdnes{color:#fa0;}
.hdnes,.hvcera{font-weight:bold;}
.hvyber div{font-size:1.0em;margin:0;padding:0;}
.hvyber label{color:#999;font-size:0.9em;line-height:1;}
.hvyber h4{font-size:1em;margin:0;}
.hvyber p{font-size:0.9em;line-height:1.2em;text-align:justify;padding:0.5em;}
.hvyber{margin:1em 0;}
.hvyber ul li{list-style-type:disc;list-style-position:outside;margin-left:25px;font-size:90%;}
.hvyber a{color:#AFAFAF;}
.hpopis{width:8.5em;padding:0;}
.herna-vypis h3{font-size:110%;text-decoration:none;padding:1em;display:block;}
.hhleda{background-color:#1A1A1A;}
.hvps{width:80%;}
#orp-layer{}
#drd-layer{}
.hdrd .her{color:#003c00 !important;background-color:#010;}
.horp .her{color:#3c0000 !important;background-color:#100;}
.hcas{cursor:help;margin-right:5px;font-size:80%;font-weight:bold;}
.hdrd .hcas{color:#090;}
.horp .hcas{color:#900;}
.hico{text-align:right;margin:5px 0 0 0;display:block;}
.her{text-align:right;margin:0;vertical-align:bottom;width:80px;overflow:hidden;padding-bottom:5px;}
.hfst{margin:0 5px 15px 0;font-size:22px;font-weight:bold;text-transform:capitalize;line-height:40px;}
.hdrd .hfst span{font-size:60px;color:#040;}
.horp .hfst span{font-size:60px;color:#400;}
.hkostka{text-align:center;line-height:1.8;margin:10px 0;width:400px;}
.hkostka a{color:#000;padding:1px 2px 2px 2px;background-color:#666;border:1px solid #333;font-weight:bold;}
.komuseptat{margin-top:1em;font-size:0.7em;line-height:1.5;text-align:left;font-weight:normal;}
.komuseptat label{display:inline;width:auto;padding:0;margin:0;font-weight:normal;color:#ccc;}
.komuseptat span{font-weight:bold;}
.c3 p a,c3 p a:visited{color:#EDCA92;}
.ml20{margin-left:20px;}
.t-a-c{text-align:center;}
.text{line-height:1.2em;margin:0.3em auto;padding:0.3em;overflow:hidden;color:#ccc;background-color:#272727;border:1px solid #333;width:95%;}
#dhtmltooltip{margin:0;position:absolute;border:2px solid #666;padding:0.3em;font-size:0.7em;background-color:#333;color:#aaa;visibility:hidden;z-index:1000;width:20em;text-align:left;}
.obchod{font-size:70%;text-align:right;font-family:Georgia,times,serif;color:#ddd;}
.obchod td{vertical-align:middle;}
.obchod a{font-family:Verdana,Arial,lucida,sans-serif;font-size:85%;color:#CCCC9A;}
.obchod-ctgr{text-align:left;background-color:#cc0;color:#300;font-weight:bold;padding:2px 5px 2px 5px;}
.shp-w,.shp-z,.shp-i,.shp-s{text-align:left;padding-left:0.1em;font-size:1.2em;color:#fff;font-family:Verdana,Arial,lucida,sans-serif;}
.i-wp,.shp-w{background-color:#621F1F;}
.i-ar,.shp-z{background-color:#193E19;}
.i-st,.shp-s{background-color:#004263;}
.i-it,.shp-i{background-color:#444444;}
.obchod-ctrl{text-align:center;padding:0;}
.uvodnik{font-size:0.9em;color:#aaa;}
.uvodnik p{padding:1em;line-height:1.4em;}
.uvodnik strong{color:#ccc;}
.uvodnik-img{float:left;width:10em;height:10em;border:0.5em solid #333;margin:1em 0.5em 0.1em 1em;background:#111 url('/graphic/resize/red-lips.jpg') center center no-repeat;}
.chat td{padding:0.5em;font-size:0.8em;}
.chat{border-bottom:1px solid #333;}
.chat-nazev{font-weight:bold;}
.chat-locked{font-weight:normal;font-size:0.8em;}
.chat-popis{font-style:italic;}
.hlight1{color:#A4E292 !important;}
.hlight2{color:#E79697 !important;}
.hlight3{color:#B9D1E6 !important;}
.adminBlog{text-align:center;font-size:0.8em;display:block;margin:0 0.7em;background-color:#151515;border:1px solid #333;padding:0.3em;}
.adminTable{padding:0;background-color:#181818;border:1px solid #333;margin:0.5em 1em;color:#999;}
.adminTable td{font-size:0.8em;padding:0.3em;color:#ddd;vertical-align:top;}
.adminHeadline{font-weight:bold;background-color:#333;}
.adminInfo{color:#555;font-size:0.9em;}
.adminSpot{background-color:#181818;}
h4.adminBlog a{color:#eee;text-decoration:none;}
.uvodnik-news{margin:0 1em;}
.uvodnik-news td{font-size:0.9em;padding:0.5em;}
.uvodnik-news p{padding:0.3em 0.5em;}
.uvodnik-news table{width:99%;background-color:#151515;border:1px solid #333;padding:0;}
.uvodnik-news a,.uvodnik-news a:visited{}
.uvodnik-news .thn{background-color:#272727;font-weight:bold;text-align:center;color:#666;font-size:0.9em;}
.uvodnik-news .randimg{width:160px;height:160px;background-color:#191919;vertical-align:middle;text-align:center;}
.uvodnik-news img{border:1px solid #000;}
#ajaxi-bar{position:absolute;left:35%;top:0.5em;display:block;width:10em;margin:0 auto;border:1px solid #444;height:10px !important;overflow:hidden;background-color:#111;z-index:400;}
#ajaxi-bar a{display:block;height:100%;margin:0;padding:0;line-height:9px;text-align:center;width:100%;background-color:#383838;color:#777;font-size:9px;}
#friends-list{font-size:80%;}
#friends-list a{color:#aaa;}
#postolka-all .pp{font-size:100%;}
#postolka-all .pt{color:#888;text-align:right;font-size:80% !important;vertical-align:middle;font-style:italic;width:4.75em;}
#postolka-all .pd{color:#888;font-style:italic;font-size:80% !important;text-align:right;vertical-align:middle;width:5.5em;}
#postolka-all .po{width:1em;}
#postolka-all td input{margin:0 0 0 2px;padding:0;}
#postolka-all .po a{color:#ddd;}
#postolka-all .post-tbl{width:100%;font-size:10pt;}
.post-tbl td{padding:2px 4px;margin:0;vertical-align:baseline;}
.post-tbl tr{padding:0;margin:0;}
.pr-0,.pr-1,.pr-2,.pr-3{padding:0 2px 0 0 !important;margin-right:4px;width:1px;cursor:help;}
#dhtmltooltip .pr-0,#dhtmltooltip .pr-1,#dhtmltooltip .pr-2,#dhtmltooltip .pr-3{padding:0 !important;float:left;clear:left;width:3px !important;height:1.1em;}
.pr-0{background-color:#E79697;border-color:#E79697;}
.pr-1{background-color:#A4E292;border-color:#A4E292;}
.pr-3,.pr-2{background-color:#B9D1E6;border-color:#B9D1E6;}
.post-status{font-weight:bold;font-size:80%;display:block;text-align:center;color:#3B5BBC !important;}
.postolka-hlight{background-color:#444;}
.tool-title{display:none;}
.tool-tip{border:1px solid #666;background-color:#333;color:#888;font-size:60%;padding:5px 8px;line-height:2;font-weight:bold;z-index:50000;}
.jsStats th,.jsStats td{text-align:center;color:#999999;font-size:0.9em;border:1px solid #999999}
.jsStats th,.jsStatsK{font-weight:600;}
.content ul,.content ol{margin:0.3em 0.75em;padding:0.1em 0.75em;font-size:1.0em;}
.content ul li,.content ol li{margin:1px 1px 1px 0.5em;padding:0 0 0 1px;font-size:90%;list-style-position:outside;text-indent:0;}
.uvodnik li{list-style-position:inside !important;text-indent:0;}
.uvodnik li:first-letter{font-weight:bold;}
blockquote{margin:10px;padding:5px;font-size:90%;border:1px dashed #666;background-color:#333;color:#AAA;}
blockquote p{line-height:120%;margin:4px;}
legend{color:#ccc;}
#k0{display:none;}