/* Reset */
.retroSkin table, .retroSkin tbody, .retroSkin a, .retroSkin img, .retroSkin tr, .retroSkin div, .retroSkin td, .retroSkin iframe, .retroSkin span, .retroSkin *, .retroSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:sandyBrown; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.retroSkin a:hover, .retroSkin a:link, .retroSkin a:visited, .retroSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:sandyBrown}
.retroSkin table td {vertical-align:middle}

/* Containers */
.retroSkin table {direction:ltr; background:black}
.retroSkin iframe {display:block;}
.retroSkin .mceToolbar {height:26px}
.retroSkin .mceLeft {text-align:left}
.retroSkin .mceRight {text-align:right}

/* External */
.retroSkin .mceExternalToolbar {position:absolute; border:1px solid sandyBrown; border-bottom:0; display:none;}
.retroSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.retroSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.retroSkin table.mceLayout {border:0; border-left:1px solid sandyBrown; border-right:1px solid sandyBrown;margin-left: 5px}
.retroSkin table.mceLayout tr.mceFirst td {border-top:1px solid sandyBrown}
.retroSkin table.mceLayout tr.mceLast td {border-bottom:1px solid sandyBrown}
.retroSkin table.mceToolbar, .retroSkin tr.mceFirst .mceToolbar tr td, .retroSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.retroSkin td.mceToolbar {background:black; padding-top:1px; vertical-align:top}
.retroSkin .mceIframeContainer {border-top:1px solid sandyBrown; border-bottom:1px solid sandyBrown}
.retroSkin .mceStatusbar {background:black; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:sandyBrown; display:block; height:20px}
.retroSkin .mceStatusbar div {float:left; margin:2px}
.retroSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize; outline:0}
.retroSkin .mceStatusbar a:hover {text-decoration:underline}
.retroSkin table.mceToolbar {margin-left:3px}
.retroSkin span.mceIcon, .retroSkin img.mceIcon {display:block; width:20px; height:20px}
.retroSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.retroSkin td.mceCenter {text-align:center;}
.retroSkin td.mceCenter table {margin:0 auto; text-align:left;}
.retroSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.retroSkin .mceButton {display:block; border:1px solid sandyBrown; width:20px; height:20px; margin-right:1px; background: #ccc;}
.retroSkin a.mceButtonEnabled:hover {border:1px solid #0A246A; background-color:#B2BBD0;}
.retroSkin a.nceButtonEnabled img:hover {cursor:pointer;}
.retroSkin a.mceButtonActive, .retroSkin a.mceButtonSelected {border:1px solid #0A246A; background-color:#C2CBE0}
.retroSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.retroSkin .mceButtonLabeled {width:auto}
.retroSkin .mceButtonLabeled span.mceIcon {float:left}
.retroSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.retroSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.retroSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.retroSkin .mceListBox, .retroSkin .mceListBox a {display:block}
.retroSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid sandyBrown; border-right:0; background: black; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.retroSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid sandyBrown;}
.retroSkin table.mceListBoxEnabled:hover .mceText, .retroSkin .mceListBoxHover .mceText, .retroSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background: black}
.retroSkin table.mceListBoxEnabled:hover .mceOpen, .retroSkin .mceListBoxHover .mceOpen, .retroSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.retroSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.retroSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.retroSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.retroSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.retroSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:black; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.retroSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.retroSkin .mceSplitButton a, .retroSkin .mceSplitButton span {height:20px; display:block}
.retroSkin .mceSplitButton a.mceAction {width:20px; border:1px solid black; border-right:0;}
.retroSkin .mceSplitButton span.mceAction {width:20px; background-image:url(../../img/icons.gif);}
.retroSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid black;}
.retroSkin .mceSplitButton span.mceOpen {display:none}
.retroSkin table.mceSplitButtonEnabled:hover a.mceAction, .retroSkin .mceSplitButtonHover a.mceAction, .retroSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.retroSkin table.mceSplitButtonEnabled:hover a.mceOpen, .retroSkin .mceSplitButtonHover a.mceOpen, .retroSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.retroSkin .mceSplitButtonDisabled .mceAction, .retroSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.retroSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.retroSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.retroSkin div.mceColorSplitMenu table {background: black; border:1px solid gray}
.retroSkin .mceColorSplitMenu td {padding:2px}
.retroSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.retroSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.retroSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.retroSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.retroSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.retroSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.retroSkin .mce_forecolor span.mceAction, .retroSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.retroSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.retroSkin .mceNoIcons span.mceIcon {width:0;}
.retroSkin .mceNoIcons a .mceText {padding-left:10px}
.retroSkin .mceMenu table {background: black}
.retroSkin .mceMenu a, .retroSkin .mceMenu span, .retroSkin .mceMenu {display:block}
.retroSkin .mceMenu td {height:20px}
.retroSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.retroSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:sandyBrown; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.retroSkin .mceMenu span.mceText, .retroSkin .mceMenu .mcePreview {font-size:11px}
.retroSkin .mceMenu pre.mceText {font-family:Monospace}
.retroSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.retroSkin .mceMenu .mceMenuItemEnabled a:hover, .retroSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.retroSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.retroSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.retroSkin .mceMenuItemTitle span.mceText {color:sandyBrown; font-weight:bold; padding-left:4px}
.retroSkin .mceMenuItemDisabled .mceText {color:#888}
.retroSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.retroSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.retroSkin .mceMenu span.mceMenuLine {display:none}
.retroSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.retroSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background: black}
.retroSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}

/* Formats */
.retroSkin .mce_formatPreview a {font-size:10px}
.retroSkin .mce_p span.mceText {}
.retroSkin .mce_address span.mceText {font-style:italic}
.retroSkin .mce_pre span.mceText {font-family:monospace}
.retroSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.retroSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.retroSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.retroSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.retroSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.retroSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.retroSkin span.mce_bold {background-position:0 0}
.retroSkin span.mce_italic {background-position:-60px 0}
.retroSkin span.mce_underline {background-position:-140px 0}
.retroSkin span.mce_strikethrough {background-position:-120px 0}
.retroSkin span.mce_undo {background-position:-160px 0}
.retroSkin span.mce_redo {background-position:-100px 0}
.retroSkin span.mce_cleanup {background-position:-40px 0}
.retroSkin span.mce_bullist {background-position:-20px 0}
.retroSkin span.mce_numlist {background-position:-80px 0}
.retroSkin span.mce_justifyleft {background-position:-460px 0}
.retroSkin span.mce_justifyright {background-position:-480px 0}
.retroSkin span.mce_justifycenter {background-position:-420px 0}
.retroSkin span.mce_justifyfull {background-position:-440px 0}
.retroSkin span.mce_anchor {background-position:-200px 0}
.retroSkin span.mce_indent {background-position:-400px 0}
.retroSkin span.mce_outdent {background-position:-540px 0}
.retroSkin span.mce_link {background-position:-500px 0}
.retroSkin span.mce_unlink {background-position:-640px 0}
.retroSkin span.mce_sub {background-position:-600px 0}
.retroSkin span.mce_sup {background-position:-620px 0}
.retroSkin span.mce_removeformat {background-position:-580px 0}
.retroSkin span.mce_newdocument {background-position:-520px 0}
.retroSkin span.mce_image {background-position:-380px 0}
.retroSkin span.mce_help {background-position:-340px 0}
.retroSkin span.mce_code {background-position:-260px 0}
.retroSkin span.mce_hr {background-position:-360px 0}
.retroSkin span.mce_visualaid {background-position:-660px 0}
.retroSkin span.mce_charmap {background-position:-240px 0}
.retroSkin span.mce_paste {background-position:-560px 0}
.retroSkin span.mce_copy {background-position:-700px 0}
.retroSkin span.mce_cut {background-position:-680px 0}
.retroSkin span.mce_blockquote {background-position:-220px 0}
.retroSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.retroSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.retroSkin span.mce_forecolorpicker {background-position:-720px 0}
.retroSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.retroSkin span.mce_advhr {background-position:-0px -20px}
.retroSkin span.mce_ltr {background-position:-20px -20px}
.retroSkin span.mce_rtl {background-position:-40px -20px}
.retroSkin span.mce_emotions {background-position:-60px -20px}
.retroSkin span.mce_fullpage {background-position:-80px -20px}
.retroSkin span.mce_fullscreen {background-position:-100px -20px}
.retroSkin span.mce_iespell {background-position:-120px -20px}
.retroSkin span.mce_insertdate {background-position:-140px -20px}
.retroSkin span.mce_inserttime {background-position:-160px -20px}
.retroSkin span.mce_absolute {background-position:-180px -20px}
.retroSkin span.mce_backward {background-position:-200px -20px}
.retroSkin span.mce_forward {background-position:-220px -20px}
.retroSkin span.mce_insert_layer {background-position:-240px -20px}
.retroSkin span.mce_insertlayer {background-position:-260px -20px}
.retroSkin span.mce_movebackward {background-position:-280px -20px}
.retroSkin span.mce_moveforward {background-position:-300px -20px}
.retroSkin span.mce_media {background-position:-320px -20px}
.retroSkin span.mce_nonbreaking {background-position:-340px -20px}
.retroSkin span.mce_pastetext {background-position:-360px -20px}
.retroSkin span.mce_pasteword {background-position:-380px -20px}
.retroSkin span.mce_selectall {background-position:-400px -20px}
.retroSkin span.mce_preview {background-position:-420px -20px}
.retroSkin span.mce_print {background-position:-440px -20px}
.retroSkin span.mce_cancel {background-position:-460px -20px}
.retroSkin span.mce_save {background-position:-480px -20px}
.retroSkin span.mce_replace {background-position:-500px -20px}
.retroSkin span.mce_search {background-position:-520px -20px}
.retroSkin span.mce_styleprops {background-position:-560px -20px}
.retroSkin span.mce_table {background-position:-580px -20px}
.retroSkin span.mce_cell_props {background-position:-600px -20px}
.retroSkin span.mce_delete_table {background-position:-620px -20px}
.retroSkin span.mce_delete_col {background-position:-640px -20px}
.retroSkin span.mce_delete_row {background-position:-660px -20px}
.retroSkin span.mce_col_after {background-position:-680px -20px}
.retroSkin span.mce_col_before {background-position:-700px -20px}
.retroSkin span.mce_row_after {background-position:-720px -20px}
.retroSkin span.mce_row_before {background-position:-740px -20px}
.retroSkin span.mce_merge_cells {background-position:-760px -20px}
.retroSkin span.mce_table_props {background-position:-980px -20px}
.retroSkin span.mce_row_props {background-position:-780px -20px}
.retroSkin span.mce_split_cells {background-position:-800px -20px}
.retroSkin span.mce_template {background-position:-820px -20px}
.retroSkin span.mce_visualchars {background-position:-840px -20px}
.retroSkin span.mce_abbr {background-position:-860px -20px}
.retroSkin span.mce_acronym {background-position:-880px -20px}
.retroSkin span.mce_attribs {background-position:-900px -20px}
.retroSkin span.mce_cite {background-position:-920px -20px}
.retroSkin span.mce_del {background-position:-940px -20px}
.retroSkin span.mce_ins {background-position:-960px -20px}
.retroSkin span.mce_pagebreak {background-position:0 -40px}
.retroSkin span.mce_restoredraft {background-position:-20px -40px}
.retroSkin span.mce_spellchecker {background-position:-540px -20px}
