@charset "utf-8";

body, html{
background-color: black;
font-family: Tahoma, Verdana, Courier New;
margin: 0;
height: 100%;
color: white;
overflow: hidden;
text-align: left;
}

a,a:visited {
color: #CEBC7B;
}

form{
padding: 10px
}

input {
color: black;
background-color: #feea4f;
border: 1px solid #c68c00
}

.holder{
width: 99%;
height: 99%;
background: url('./bg.jpg') no-repeat;
}

.top{
display: block;
height: 100px;
background: url('./ajax_logo.jpg') no-repeat bottom right;
}

.middle{
display: block;
width: 90%;
height: 75%;
padding: 5px;
overflow: auto;
}

.bottom{
display: block;
height: 40px;
padding: 5px 20px
}

.oI{
margin: 5px
}

#occupants{
}

#message {
text-align: left;
}

#dhtmltooltip{
position: absolute;
width: 120px;
height: 130px;
padding-left: 5px;
padding-top: 5px;
background: url('./bgtip.jpg') no-repeat;
visibility: hidden;
z-index: 100
}

.dhtmlDiv{
padding: 4px;
color: #fcdb57;
font-size: 70%;
letter-spacing: 1px
}

#progress{
padding: 4px;
margin-left: 30px;
color: #fcdb57;
font-size: 80%;
letter-spacing: 2px
}

.hlink {
position: absolute;
top: 90px;
right: 50px;
font-size: 0.7em;
}

.oI {
	height: 35px;
	width: 35px;
}

.hide {
display: none;
visibility: hidden;
}

#ajaxi-bar { position:absolute; right:0; top:120px; height:70%; width:9.5%; margin:0; padding:0; overflow:auto; font-size:70% !important; }
#ajaxi-bar a{ display:block; width: 99%; overflow: hidden; }
#ajaxi-bar .c-u{ color:red; font-weight:bold; }
#ajaxi-bar .c-ub {color: red; }